<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Halang Furnitures</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/Black White Logo.png">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/imgs/theme/Halang.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            

            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                  
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">users</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/addcategory"> <i
                            class="icon material-icons md-add_box"></i>
                        <span class="text">Add Category</span>
                    </a>
                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="page-products-list.html"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products" class="ss">Product List</a>
                        <a href="/admin/addproduct">Add product</a>
                              
                            </div>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="/admin/orders"> <i
                                class="icon material-icons md-shopping_cart"></i>
                                <span class="text">Orders</span>
                            </a>
                        </li>
                        <li class="menu-item has-submenu ">
                            <a class="menu-link" href="page-products-list.html"> 
                                <span class="text">Coupons</span>
                            </a>
                            <div class="submenu">
                                <a href="/admin/couponlist" class="ss">Add Coupon</a>
                    
                                <a href="/admin/coupons">Coupons</a>
                                
                            </div>
                        </li>
                        
                       
                        <li class="menu-item">
                            <a class="menu-link" href="/admin/salesreport"> 
                                <span class="text">sales Report</span>
                            </a>
                        </li>
                    </ul>


            <hr>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/adminlogout"> 
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>

            <br>
            <br>
        </nav>
    </aside>