<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

</head>
<body class="bg-gray-100">
    <section 
    class="min-h-screen flex items-center justify-center" 
    style="background-image: url('images/singup.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">

    <div id="toast-container" class="fixed bottom-0 right-0 p-4 space-y-2 text-red-500"></div>

    <div class="p-8 w-full max-w-md">
        <!-- Heading with a message -->
        <h2 class="text-xl font-serif text-gray-800 mb-4 text-center">
            Forgot your password? Don't worry, we are here to help you recover it.
        </h2>
        
        <form id="emailForm">
            <div class="mb-6">
                <div class="relative">
                    <span class="absolute inset-y-0 left-3 flex items-center text-gray-400">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <input
                        type="email"
                        name="email"
                        placeholder="Enter your email"
                        class="pl-10 w-full p-3 border border-gray-300 rounded-full text-gray-700 shadow-md focus:ring-1 focus:ring-gray-400 focus:outline-none"
                        required
                    />
                </div>
            </div>

            <!-- Submit Button -->
            <div class="mb-4">
                <button 
                    type="submit" 
                    id="submitButton" 
                    class="w-full py-3 bg-blue-700 text-white font-medium rounded-full shadow-lg hover:bg-blue-800 focus:outline-none">
                    Enter
                </button>
            </div>
        </form>
    </div>

</section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submitButton').click(function () {
                let email = $("#email").val();

                $("#emailError").text("");
                if (!email) {
                    $("#emailError").text("please enter email")
                    console.log('error2');
                    return;
                }
                if (!isValidEmail(email)) {
                    $('#emailError').text("please enter a valid email")
                    console.log('error1');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '/email',
                    data: { email: email },
                    success: function (response) {
                        if (response.success) {
                            window.location.href = '/otp?reset=1'
                        } else {
                            $('#emailError').text(response.message);
                        }
                    },
                    error: function (error) {
                        console.error(error.responseText)
                    }
                })

            })
            function isValidEmail(email) {
                let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailRegex.test(email)
            }
        })
    </script>
    <%- include('../layouts/footer.ejs') %>