<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
    <section 
        class="min-h-screen flex items-center justify-center" 
        style="background-image: url('images/singup.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        
        <div id="toast-container" class="fixed bottom-0 right-0 p-4 space-y-2 text-red-500"></div>

        <div class="p-8 w-full max-w-md ">
            <p class="text-green-800 text-center text-md font-serif mb-3 ml-4">Check your email, OTP has been sent
            </p>

            <form id="otp" method="post">
                <div class="card-body">
                    <div class="mb-3">
                      
                        <input class="w-full p-3 border border-gray-300 rounded-full text-gray-700 shadow-md focus:ring-1 focus:ring-gray-400 focus:outline-none" name="otp" placeholder="Enter your OTP" type="text">
                        <p id="otpError" class="error-message text-red-500 mt-2"></p>
                    </div>

                    <span id="otp-counter" class="text-gray-600 float-right"></span>
                    <span id="resend-btn" class="float-right text-blue-600 cursor-pointer" hidden>Resend OTP</span>

                    <div class="mb-4">
                        <button type="submit" class="w-full py-3 bg-blue-700 text-white font-medium rounded-full shadow-lg hover:bg-blue-800 focus:outline-none">
                            Verify OTP
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const otpErr = document.querySelector('#otpError')
        $(document).ready(function () {
            $('#otp').submit(function (event) {
                event.preventDefault();
                otpErr.textContent = ''
                let otp = $('input[name="otp"]').val(); // Correctly select the input field and get its value
                const otpInput = $('input[name="otp"]').val();
                let valid = true;
                if (!otp) {
                    valid = false;
                    otpErr.textContent = 'Please enter otp';
                }

                if (valid) {
                    $.ajax({
                        type: "POST",
                        url: '/verifyotp<%= isReset ? "?reset=1" : "" %>',
                        data: { otp: otp },
                        success: function (response) {
                            if (response.success) {
                                window.location.href = response.redirect;
                            } else {
                                otpErr.textContent = response.message;
                            }
                        },
                        error: function () {
                            // Handle any errors that occur during the AJAX request
                            const errorMessage = 'An error occurred';
                            $('#error-message').text(errorMessage);
                            $('#error-message').show(); // Show the error message element
                        }
                    });
                }
            })
        })

        let otpCounter = document.getElementById("otp-counter")
        let resendBtn = document.getElementById("resend-btn")
        function startCountdown() {
            otpCounter.innerHTML = "Resend OTP in: 60s"
            seconds = 60
            countdownTimer = setInterval(() => {
                seconds--
                otpCounter.innerHTML = "Resend OTP in: " + seconds + "s"
                if (seconds <= 0) {
                    clearInterval(countdownTimer)
                    otpCounter.hidden = true
                    resendBtn.hidden = false
                }
            }, 1000)
        }

        startCountdown()

        resendBtn.addEventListener("click", e => {
            e.preventDefault()
            fetch("/resendOtp", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        resendBtn.hidden = true
                        startCountdown()
                        otpCounter.hidden = false
                    } else
                        otpErr.innerHTML = data.message
                })
                .catch(error => {
                    console.error("Error:", error)
                })
        })

    </script>

    <%- include('../layouts/footer.ejs') %>